*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
core/network/src/main/java/com/example/network/utils/Google.kt
core/network/src/main/java/com/example/network/utils/Unsplash.kt
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
